### Painter by Number

This data was downloaded from kaggle and read into this notebook.  A training set has already been split out (as per below).  The data lists several features of thousands of pieces of art which also have corresponding images.  I plan to extract additional feautes from the images.  My goal will be to try to predict the year that a painting was created.  I will try both Linear Regression models and Classification models to see where I can be more accurate.

Risks are that it will be difficult and time consuming to extract features from the images.

In [1]:
import numpy as np
import pandas as pd

In [136]:
train_info = pd.read_csv('/Users/jenelleverrochi/Desktop/Capstone/train_info.csv')
all_data_info = pd.read_csv('/Users/jenelleverrochi/Desktop/Capstone/all_data_info.csv')

In [5]:
train_info.head()

,filename,artist,title,style,genre,date
0,102257.jpg,5b39c876740bfc1cfaf544721c43cac3,Uriel,Color Field Painting,abstract,1955.0
1,75232.jpg,5b39c876740bfc1cfaf544721c43cac3,Vir Heroicus Sublimis,Color Field Painting,abstract,1950.0
2,29855.jpg,96e5bc98488ed589b9bf17ad9fd09371,Night March of a Hundred Demons (left half),Yamato-e,mythological painting,NaN
3,62252.jpg,5b39c876740bfc1cfaf544721c43cac3,"Who’s Afraid of Red, Yellow and Blue II",Color Field Painting,abstract,NaN
4,63861.jpg,5b39c876740bfc1cfaf544721c43cac3,Black Fire I,Color Field Painting,abstract,1963.0

In [7]:
all_data_info.head()

,artist,date,genre,pixelsx,pixelsy,size_bytes,source,style,title,artist_group,in_train,new_filename
0,Barnett Newman,1955.0,abstract,15530.0,6911.0,9201912.0,wikiart,Color Field Painting,Uriel,train_only,True,102257.jpg
1,Barnett Newman,1950.0,abstract,14559.0,6866.0,8867532.0,wikiart,Color Field Painting,Vir Heroicus Sublimis,train_only,True,75232.jpg
2,kiri nichol,2013.0,NaN,9003.0,9004.0,1756681.0,NaN,Neoplasticism,NaN,test_only,False,32145.jpg
3,kiri nichol,2013.0,NaN,9003.0,9004.0,1942046.0,NaN,Neoplasticism,NaN,test_only,False,20304.jpg
4,kiri nichol,2013.0,NaN,9003.0,9004.0,1526212.0,NaN,Neoplasticism,NaN,test_only,False,836.jpg

In [137]:
all_data_info.isnull().sum()

artist              0
date            26363
genre            1254
pixelsx             0
pixelsy             0
size_bytes          0
source            167
style             986
title             122
artist_group        0
in_train            0
new_filename        0
dtype: int64

In [138]:
all_nonull = all_data_info.dropna()

In [139]:
all_data_info.shape

(103250, 12)

In [140]:
all_nonull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75858 entries, 0 to 103249
Data columns (total 12 columns):
artist          75858 non-null object
date            75858 non-null object
genre           75858 non-null object
pixelsx         75858 non-null float64
pixelsy         75858 non-null float64
size_bytes      75858 non-null float64
source          75858 non-null object
style           75858 non-null object
title           75858 non-null object
artist_group    75858 non-null object
in_train        75858 non-null bool
new_filename    75858 non-null object
dtypes: bool(1), float64(3), object(8)
memory usage: 7.0+ MB

In [48]:
all_nonull.columns

Index(['artist', 'date', 'genre', 'pixelsx', 'pixelsy', 'size_bytes', 'source',
       'style', 'title', 'artist_group', 'in_train', 'new_filename'],
      dtype='object')

In [141]:
all_nonull.artist.value_counts()

Paul Gauguin                                      494
Martiros Saryan                                   491
Vincent van Gogh                                  486
John Singer Sargent                               480
Claude Monet                                      479
Marc Chagall                                      479
Pablo Picasso                                     475
Paul Cezanne                                      475
Edgar Degas                                       472
Pyotr Konchalovsky                                465
Boris Kustodiev                                   462
Nicholas Roerich                                  460
Salvador Dali                                     454
Childe Hassam                                     452
Camille Pissarro                                  449
Alfred Sisley                                     443
Ivan Aivazovsky                                   442
Ilya Repin                                        436
Camille Corot                                     434
Pierre-Auguste Renoir                             433
Rembrandt                                         427
Isaac Levitan                                     407
Zinaida Serebriakova                              400
Eugene Boudin                                     400
Henri Matisse                                     375
Maurice Prendergast                               375
Ivan Shishkin                                     357
Rene Magritte                                     353
Henri de Toulouse-Lautrec                         350
Peter Paul Rubens                                 328
                                                 ...
Kyoto                                               1
with Vasiliy Shukhaev                               1
Study in Tunis                                      1
a rich guest"                                       1
The dance                                           1
Southwest Texas                                     1
(Fruit in Basket)                                   1
II                                                  1
S. Sebastien 3                                      1
Arthur Rackham                                      1
Maxime Lalanne                                      1
Boceto para el velorio                              1
Blue                                                1
Appledore, Isles of Shoals                          1
View of the Navy Arsenal                            1
Re Rom 337                                          1
The Great Sea                                       1
Bali                                                1
M. F. S.                                            1
The White Dress                                     1
Parc Sans Souci at Potsdam                          1
Moonlight                                           1
St. Barbara                                         1
the central panel from St. Hippolytus Triptych      1
New Year's Greeting Card                            1
concetto di distorsione                             1
Jalouzieënreliëf/Fanlight-shutters                  1
Market Place                                        1
La Dame de Biarritz                                 1
Village Life                                        1
Name: artist, Length: 2084, dtype: int64

In [167]:
all_nonull['date'] = all_nonull['date'].map(lambda x: x.lstrip('ly '))

/Users/jenelleverrochi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [168]:
len(all_nonull.date.unique())

1136

In [179]:
all_nonull.date

0         1955.0
1         1950.0
7           1838
8         1963.0
10          1844
11        1937.0
14          1873
15          1890
16          1838
18          1515
19          1850
20          1968
21          1838
22        1952.0
23          1439
24          1896
25        1891.0
26          1824
28          1866
30        1612.0
31          1835
32          1645
36        1936.0
37          1562
38          1635
39          1534
40        1924.0
42          1783
43        1925.0
45          1541
           ...
103206    1948.0
103208    1973.0
103210    1974.0
103211    1991.0
103212    1942.0
103213      1920
103215      1917
103216    1944.0
103219    1904.0
103220    1967.0
103221    1975.0
103222    1964.0
103223    1982.0
103224    1971.0
103226      1647
103227      1958
103228    1930.0
103230      1940
103232    1882.0
103233    1975.0
103234    1979.0
103235    1981.0
103236    1964.0
103238    1978.0
103240      1433
103241    1957.0
103242      1509
103243      1954
103245    1948.0
103249      1913
Name: date, Length: 75858, dtype: object

In [9]:
train_info.shape

(79433, 6)

In [12]:
train_info.isnull().sum()

filename        0
artist          0
title          13
style         765
genre         893
date        20255
dtype: int64